# Git
.git
.github

# Python cache
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache

# Virtual environments
.venv
venv
env

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Build artifacts
build
dist
*.egg-info

# Logs
*.log
